.centralizaDiv {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.idUserPWD {
    border-color: rgb(0, 119, 255);
    background-color: #1b1b1b;
    color: #E6DADA;
    text-align: center;
    margin-bottom: 15px;
    height: 30px;
    width: 200px;
    border-radius: 40px;
}

.fontStock {
    color: #E6DADA;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

body {
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#idGreybox {
    background-color: #1b1b1b;
    height: 400px;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10%;
}

h1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: 100;
}

#idLogin {
    background-color: #1b1b1b;
    text-align: center;
    color: #E6DADA;
    margin-top: 23px;
    height: 35px;
    width: 100px;
    border-radius: 40px;
    border-color: rgb(0, 119, 255);
    border-width: 2px;
    cursor: pointer;
}

#idPassword {
    margin-bottom: 50px;
}

#idCreateAcc {
    margin-top: 50px;
    margin-right: 50px;
    text-decoration: none;
}
#idForgotPwd {
    text-decoration: none;
}
#idWriteLogin {
    color: #E6DADA;
    margin-top: 0px;
    height: 40px;
    
}

#idError {
    margin-top: 0px;
}

#idLogin:hover {
    border-color: rgb(0, 255, 0) !important;
}

.idUserPWD:hover, .idUserPWD:focus {
    border-color: blue !important;
}

#idCreateAcc:hover, #idForgotPwd:hover {
    text-decoration: underline;
}